
body{
    font-size: 100%;
}

#menu {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    margin-left:30px;
}

#menu a {
    text-decoration: none;
    padding: 12px 12px;

}

.itemsMenu li {
    display:inline;
    padding-right: 35px;
    width:100%;
    margin: 0 auto;
}
    .itemsMenu li img{
        vertical-align: middle;
        margin-right: 10px;
    }

.iconMenu {
    color: #fff;
    cursor: pointer;
    display: none;
}
.showitems {
    display:block !important;
}

@media screen and (max-width: 1200px) {
    #menu a{
        padding-bottom: 13px;
    }
    #menu a:hover {
        border-bottom: none; 
    }
    .iconMenu {
      display:block; 
  }
    .itemsMenu {
        display:none;   
    }
        .itemsMenu li {
            display:block;
            padding:10px 0;
        }
}

#menu{
    padding: 0px;
	margin-top:100px;
}
#menu li{
    display: block;
}

#menu:hover li a{
	text-shadow: 0px 0px 6px #00FF78;
}
#menu li a:hover{
	color: #00FF78;
	text-shadow: 0px 0px 1px #00FF78;
	padding-left: 10px;
}
#menu li a{
	color: transparent;
	display:inline-block;
	text-shadow: 0px 0px 4px;
	letter-spacing: 1px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	color:#00C0FF;
}
