@import url(https://fonts.googleapis.com/css?family=Arimo:400,400italic|Playfair+Display+SC:400,700&subset=latin,cyrillic);
/*сброс стилей браузера*/
* {
  box-sizing: border-box; 
}
html, body, div, span, object, iframe,h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video, ul, li {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
     background: url(http://desktopwallpapers.org.ua/pic/201110/1920x1200/desktopwallpapers.org.ua-6272.jpg) no-repeat center center fixed;
       -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
       background-size: cover;
}
body {
	line-height: 1.2;
	width:100%;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
a { 
    text-decoration: none;
   }
   /* конец кода сброса стилей браузера */
.clear:after {
  content: " ";
  display: table;
  clear: both;
}

.clear {
	zoom: 1;	
}
header {
	background-color:rgb(93,43,78); 
	background-image: linear-gradient(to left, rgb(93,43,78), rgb(8,2,50));
	padding-bottom: 10px;
	width:81%;
	float:right;
}
header p{
	color:white;
	font-weight: bold;
	clear: both;
}
nav {
	background: linear-gradient(to right, rgb(93,43,78), rgb(8,2,50))no-repeat;
	background-position:fixed;
	width:19%;
	float:left;
	border:none;
	padding-bottom:75%;
}
nav ul {
	padding-left:16px;
	margin:-7px;	
}
nav li {
	float: center;
	padding: 10px;
	margin: 10px;
	list-style: none;	
}
nav a{
	font-size:1em;
	width:100%;
	padding-top:10px;
}
aside p, aside li {
	font-size:1em;
	margin-top: 10px;	
}
/*Контент*/
.news1{
	float: right;
	width: 66%;
}
.news1 p{
	line-height:1.5em;
	padding-top:10px;
	padding-bottom:15px;
	text-indent:1.5em;
	padding-left:10px;
}
.news2{
	float: right;
	width: 66%;
}
.news2 p{
	line-height:1.5em;
	padding-top:10px;
	padding-bottom:15px;
	text-align:justify;
	text-indent:1.5em;
	padding-right:12px;
}
.news2 h2{
	font-size: 1.5em;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align:center;
}
.news2 img{
	float:left;
	margin: 7px 7px 7px 0;
	width:490px;
	margin-left:5px;
}
.news2 h3{
	text-align:center;
}
.news2 ol{
	text-align:left;
	line-height:1.5em;
}
.news2 li{
	text-align:left;
	line-height:1.5em;
	letter-spacing: 1px;
}
/*Форма*/
#inline {
margin-left: 30px;
    width: 80%;
    margin: 0 auto;
    background: #fff;
    padding: 10px 20px;
     background: url(http://desktopwallpapers.org.ua/pic/201110/1920x1200/desktopwallpapers.org.ua-6272.jpg) no-repeat center center fixed;
       -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
       background-size: cover;
}
.txt { 
    display: inline-block;
    color: #676767;
    width: 190px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 6px 15px;
    font-size: 15px!important;
    line-height: 1.4em;
}
form{
	margin-left:80px;
	margin-top:30px;
}
input.txt{
display:block;
margin-top:13px;
}
h2{
	text-align:center;
}
.txtarea { 
    display: inline-block;
    color: #676767;
    width: 617px;
    margin-bottom: 13px;
     margin-top: 9px;
    border: 1px solid #ccc;
    padding: 5px 9px;
    font-size: 15px!important;
    line-height: 1.4em;
    height: 80px;
}
.txt:focus, .txtarea:focus {
 border-style: solid; 
 border-color: rgb(8,2,50); 
 color: #444; 
 }
input.error, textarea.error { 
    border-color: #973d3d; 
    border-style: solid; 
    background: #f0bebe;
    color: #a35959; 
    }
input.error:focus, textarea.error:focus { 
    border-color: #973d3d; 
    color: #a35959;
     }
#send { 
    color: #FFFFFF;
    display: block;
    cursor: pointer;
    padding: 5px 11px;
    font-size: 1.2em;
    border: solid 1px #F9F9F9;
    border-radius: 2px;
   background: linear-gradient(to bottom, rgb(93,43,78), rgb(8,2,50));
    width: 210px;
    margin-bottom: 20px;
}
#send:hover {
    background: linear-gradient(to bottom, #444, #949394 );
}
/* Форма обратной связи */
/*колонка новостей*/
#news{
	float:left;
	width:15%;
	border-right:1px dashed black;
	height:50%;
}
.column{
	padding-top:5px;
	padding-left:2px;
	border-bottom:1px dashed black;
	border-top:1px dashed black;
}
.column a{
	text-decoration:none;
	color:blue;
}
.column p{
	font-size:15px;
	font-family:Arimo, sans-serif;
	padding-top:5px;
	letter-spacing:0.1px;
	line-height:1.1em;
	text-indent:1em;
}
.column1{
	padding-left:10px;
	border:2px dashed black;
}
.column1 p{
	line-height:1.5em;
	padding-top:10px;
	padding-bottom:15px;
	text-align:justify;
	text-indent:1.5em;
	padding-right:12px;
	padding-left:12px;

}

.column1 h3{
	font-size: 1.5em;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align:center;
}
.news2 h3{
	text-align:center;
}
.column1 ol{
	text-align:left;
	line-height:1.5em;
	float:center;
}
.column1 li{
	line-height:1.5em;
	letter-spacing: 1px;
	text-align:left;
}
.column1 img{
	float:left;
	margin: 0px 7px 7px 0;
	margin-left:5px;
	width:450px;
}
footer {
	font-size: .8em;	
	padding: 10px 10px 30px 10px;
	background-color: black;
	color: rgb(204,204,204);
	clear: both;  
}
#send1 { 
    color: #FFFFFF;
    display: block;
    cursor: pointer;
    font-size: 1.2em;
    border: solid 1px #F9F9F9;
    border-radius: 2px;
   background: linear-gradient(to bottom, rgb(93,43,78), rgb(8,2,50));
    width: 155px;
    margin-top:10px;
    margin-bottom:10px;
}
#send1:hover{
    background: linear-gradient(to bottom, #444, #949394 );
}
#send1 a{
	color:white;
}
@media (min-width:1100px) and (max-width: 1200px){
nav {
	padding-bottom:100%;
	}
	#news{
		width:16%;
	}
	.news2 img{
	width:400px;
	}
	.column1 img{
		width:400px;
		margin-left:20px;
		margin-top:15px;
		margin-right:15px;
	}
.column1 li{
	text-align:left;
	padding-left:20px;
	}
}
@media (min-width:1024px) and (max-width: 1100px){
	nav{
		padding-bottom:82%;
	}
	#news{
		width:17%;
	}
	.column1{
	}
	.news1{
		width:67%;
	}
	.news1 p{
		text-indent:10px;
		font-size:15px;
	}
	.news2{
		width: 67%;
	}
	.news2 img{
		width:300px;
	}
	.news2 h2{
		font-size:17px;
	}
	.news2 p{
		text-indent:10px;
		font-size:15px;
	}
	.news2 ol{
		font-size:15px;
	}
	.news2 li{
		font-size:15px;
	}
		.column1 img{
		width:250px;
	}
.column1 li{
	text-align:left;
	padding-left:20px;
	font-size:15px;
	}
	.column1 p{
		font-size:15px;
	}
}
@media (min-width:768px) and (max-width: 1024px){
	nav{
		padding-bottom:125%;
	}
	.news1{
		width:63%;
	}
	.news1 p{
		font-size:14px;
	}
	.news2{
		width:63%;
	}
	.news2 img{
		width:250px;
		margin-left:7px;
		margin-right:8px;
	}
	.news2 h2{
		font-size: 16px;
	}
	.news2 p{
		font-size: 14px;
	}
	.news2 ul,ol{
		font-size:14px;
	}
	#news{
		width:18%;
	}
	#news h2{
		font-size:15px;
	}
	#news h3{
		font-size:13px;
		text-align:center;
	}
	#send1{
		width:90%;
		height:30px;
		margin-left:5px;
	}
	#send1 a{
		font-size:12px;
	}
	.column p{
		font-size:12px;
		text-align:center;
	}
	.column1 img{
		width:225px;
		margin-left:10px;
	}
	.column1 p{
		font-size:14px;
	}
	.column1 h3{
		font-size:15px;
	}
	.column1 ol,li{
		font-size:14px;
		float:center;
	}
	header p{
		text-align:left;
		font-size:13px;
	}
}
